*{
    margin: 0px;
    padding: opx;
}
.navbar{
    background-color: rgb(11, 11, 52);
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style: none;
    display: flex;
    padding: 40px;
}
li{
    padding-left: 40px;

}
a{
    text-decoration: none;
    color:white;
}
.body{
    background-color: white;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    border: 5px solid black;
}
#text{
    width: 40vh;
    height: 45vh;
    text-align: center;
    font-style: italic;
    background-color: white;
    padding-top: 5VH;
}
#pic{
    width: 45vh;
    height: 45vh;
    background-color: white;
    
}
img{
    height: 50vh;
}
