*{
    margin: 0px;
    padding: opx;
}
.navbar{
    background-color: rgb(11, 11, 52);
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ul{
    list-style: none;
    display: flex;
    padding: 40px;
}
.list{
    padding-left: 40px;

}
a{
    text-decoration: none;
    color:white;
}
.body{
    background-image:url("geek-glasses\ \(1\).jpg");
    background-size: cover;
    background-repeat:no-repeat ;
    width: 100%;
    height: 120vh;
    flex-direction: column;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5vh;
}
.pay_plans{
    justify-content: space-between;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15vh;
    color: white;
}
#play_plans{
    width: 40vh;
    height: 50vh;
    text-align: center;
    padding-top: 5VH;
    border: 2px solid gray;
    align-content: center;
}
